.Signup-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Signup-Container {
    background-color: #f0f0f0; /* Example background color */
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.Signup-Container input[type="text"] {
    width: 100%; /* Adjust width as needed */
    padding: 10px;
    border: none; /* Remove border */
    background-color: transparent; /* Make background transparent */
    color: #000; /* Set text color */
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove box shadow */
}

.Signup-Container input[type="text"]::placeholder {
    color: #999; /* Adjust placeholder color */
    font-size: 12px;
    font-weight: 400;
}

.Signup-Container Button {
    margin-top: -0px;
}



